

<div class="row">
    <div class="col-6 p-5">
        <h1 class="text-white">Welcome {{user}}</h1>
        <form [formGroup]="depositForm"  action="" (ngSubmit)="deposit()" style="width: 70%;margin:auto ;margin-top: 15%;">
            <h1 class="fs-2 text-warning " ><b>Deposit</b></h1>

           <div class="mt-3"><input formControlName = "acno" name="acno" type="password"  class="form-control" placeholder="account number"></div>
            <div class="mt-3"><input formControlName = "pswd" name="pswd" type="password"  class="form-control" placeholder="password"></div>
            <div class="mt-3"> <input  formControlName = "amount" name = "amt" type="text"  class="form-control  " placeholder="amount"></div>

            <input type="submit" class="btn btn-primary mt-4" value="deposit">

        </form>
    </div>
    <div class="col-6 p-5">
        <form [formGroup]="withdrawForm"  action="" (ngSubmit)="withdraw()" style="width: 70%;margin:auto;margin-top: 15%;">
            <h1 class="fs-2 text-warning " ><b>Withdraw</b></h1>

       
          
            <div class="mt-3"><input formControlName = "acno" name="acno" type="password"  class="form-control" placeholder="account number"></div>
            <div class="mt-3"><input formControlName = "pswd" name="pswd" type="password"  class="form-control" placeholder="password"></div>
            <div class="mt-3"> <input  formControlName = "amount" name = "amt" type="text"  class="form-control  " placeholder="amount"></div>
            <input type="submit" class="btn btn-primary mt-4" value="Withdraw">

        </form>
    </div>

    <div class="text-center mt-4"><a routerLink=""><button class="btn btn-danger">LogOut</button></a></div>